{% extends '/auth/base_auth.html' %} {% block content %}
<form method="post">
    <input name="email" placeholder="Email" type="text" id="forgotten-password-email" required minlength="4">
    <button type="submit" name="forgot" id ="forgotten-password-button" >Validate</button>
    {% with messages = get_flashed_messages() %} {% if messages %} <span class=errors> {{ messages[-1] }} {% endif %} {% endwith %}
</form>

<p>Return to Login Page</p>
<form action="" method="POST">
    <button type="submit" name="login" value="login" id="login-switch-button" class="inline">Login</button>
</form>
{% endblock %}