{% extends '/auth/base_auth.html' %}
{% block content %}
<form method="post">
    <input name="email" placeholder="Email" type="text" id="login-login" required minlength="4">
    <input name="password" placeholder="Password" type="password" id="login-password" required minlength="8" size="15">
    <button type="submit" name="login" class="fat">Login</button>
    {% with messages = get_flashed_messages() %} {% if messages %} <span class=errors> {{ messages[-1] }} {% endif %} {% endwith %}
</form>
<form action="" method="POST">
    <button type="submit" id="forgotten-password-button" name="forgot-password" class="inline left">Forgot password?</button>
</form>

<p>Don't have an account yet ? </p>

<form action="" method="POST">
    <button type="submit" id="sign-up-switch-button" name="register" class="inline">Sign up for OnlyFans.com</button>
</form>
{% endblock %}